@{
    ViewBag.Title = "Startsida";
}

<div class="jumbotron">
    <img class="img-responsive center-block" src="http://media4.picsearch.com/is?_syd_T1ZwwzzAXFu06qZLBLbgGcLod84lKRe2NeUhm0&height=240" />
    <h1 class="font1" style="text-align: center">THE MAN</h1>
    <p class="lead" style="text-align: center">Mannen - Myten - Legenden</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 class="font2">Köp manliga produkter</h2>
        <p>
            The Man tillhandahåller allt vad den manlige mannen kan behöva.
        </p>
        <a class="btn btn-default btnMargin" href="/Produkt">Börja handla &raquo;</a>
    </div>
    <div class="col-md-4">
        <h2 class="font2">Bli The Man</h2>
        <p>
            Vi har kurser där ni kan förkovra er i den ädla konsten att vara en riktig man.
            Allt från att bemästra diverse verktyg eller fordon till att mingla a la James Bond på sociala tillställningar.
            The Man arrangerar även intressanta föreläsningar runt om i Sverige.
        </p>
        <a class="btn btn-default btnMargin" href="/Home/About">Läs mer &raquo;</a>
    </div>
    <div class="col-md-4">
     <a href="/Home/Contact"><img id="agent" class="img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdnTO9tcrXNpnsi9ODKZBTZ7Ds6W8bEmbxmQ-JzGYT11HyQOI0mbx9gm5z" /></a>
    </div>
</div>